
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color:whbalckite;
  position:relative;
  background-image: url('https://img.wallpapersafari.com/desktop/1280/1024/11/41/T7ZjNl.jpg');
}

.main-header {
  box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.mh-logo {
  margin: -10px -152px -10px;
}

.main-nav a {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #262726;
  text-decoration: none;
  
}
.container {
    width: 960px;
    max-width: 100%;
    margin: auto;
  }

.main-nav ul {

margin: 10px 200px 10px;
}
.main-header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .main-nav li {
    display: inline;
  }

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #2ed573;
}

.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff4757;
}

.success{
    color: #2ed573;
}
.error{
    color: #ff4757;
}


/* CSS for Menu */
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
    color: #ff4757;
}

/* CSS for main-content */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* CSS for Footer */
.fa {
    padding: 15px;
    font-size: 25px;
    width: 50px;
    height: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  
  .fa:hover {
    opacity: 0.9;
  }
  
  
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #55ACEE;
    color: white;
  }
  
  .fa-snapchat {
    background: #ffff00;
    color: white;
  }
  
  .footer {
    position: relative;
    left: 0;
    bottom: 5px;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
  }
  .title-f{
    font-family: 'Dancing Script', cursive;
    text-align: center;
  }
  .footer-f{
      
      position: relative;
      margin-top: 10px;
      left: 0;
      bottom: 0;
      width: 100%;   
      color: #686868;  
      height: 50px;  
      width: 100%;  
      text-align: center; 
      position: absolute; 
      bottom: 0px;  
      left: 0px;
  }
  .ul-f {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    font-size: 20px;
    color: #473524;
  }
  

/* CSS for Login */
.login{
    background-color: gray;
    border: 3px solid black;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}